
<%= form_with(model: stock, data: { turbo: false }) do |form|%>

	<%= render 'shared/messages', data: stock %>
	
	<div class="form-outline mb-4">
		<%= form.label :companyname%><br>
		<%= form.text_field :companyname, class: "form-control"%>	
	</div>

	<div class="form-outline mb-4">
		<%= form.label :stockprice%><br>
		<%= form.number_field :stockprice, class: "form-control"%>	
	</div>

	<div class="d-flex justify-content-around">
		<%= form.submit class: 'btn btn-primary' %>
		<%= back_link(stocks_path) %>
	</div>

<%end%>


