
<%= form_with(model: stock, data: { turbo: false },class: "d-grid gap-3") do |form|%>
	
	<% invalid = check_errors(@stock,:companyname) %>
	<div class="form-group">
		<%= form.label :companyname %>
		<%= form.text_field :companyname, class: "form-control #{'is-invalid' if invalid}" %>
		<%= check_valid(@stock,:companyname,invalid) %>
	</div>

	<% invalid = check_errors(@stock,:stockprice) %>
	<div class="form-group">
		<%= form.label :stockprice %>
		<%= form.text_field :stockprice, class: "form-control #{'is-invalid' if invalid}" %>
		<%= check_valid(@stock,:stockprice,invalid) %>
	</div>


	<div class="d-flex justify-content-around">
		<%= form.submit class: 'btn btn-primary' %>
		<%= back_link(stocks_path) %>
	</div>

<%end%>


