
<div class="arrangement">
	<h1>Stocks of a user</h1>
  
	<div>
		<%= link_to 'Add Stock', new_stock_path, class: 'btn btn-primary' %>
	</div>
	

	<% @stocks.each do |stock| %>

		<div class="card w-100">
			<div class="card-body d-flex justify-content-between">
				<h5 class="card-title"><%= link_to stock.companyname, stock %></h5>
				<div class="row-arrang">
					<%= link_to 'show', stock_path(stock), class: 'btn btn-primary'%>
					<%= link_to 'Edit', edit_stock_path(stock), class: 'btn btn-primary'%>
					<%= button_to 'delete', stock_path(stock), method: :delete, class: 'btn btn-primary'%>
				</div>
			</div>
		</div>
	
	<% end %>
</div>




