<h1>Stocks of a user</h1>

<%= link_to 'Add Stock', new_stock_path %>

<%= link_to 'dashboard', dashboard_path %>

<%= link_to 'stocks summary', summary_path %>

<%= link_to 'Amount summary', amount_path %>

<%= link_to 'Total  stocks', total_stocks_path %>

<%= link_to 'Total  Amount', total_amount_path %>

<% @stocks.each do |stock| %>

	<div class="card">
		<div class="card-header">
			<h3><%= link_to stock.companyname, stock_path(stock)%></h3>
		</div>
		<div class="card-body">
			<h5 class="card-title"><%= stock.companyname%> stock price</h5>
			<p class="card-text"><%= stock.stockprice %></p>
			<%= link_to "destroy", stock_path(stock), 'data-turbo-method': :delete, class: "btn btn-primary" %>
		</div>
	</div>
	
 
<% end %>



