
<h3>
	<%= @stock.companyname %>
</h3>

<%= @stock.stockprice %>   
    

<%= link_to 'Edit', edit_stock_path(@stock)%>

   
<%= link_to 'Back', stocks_path %>

<%
=begin%>
 <%= link_to "destroy", stock_path(@stock), 'data-turbo-method': :delete %> 
<%
=end%>


<%= link_to 'transactions',stock_transactions_path(@stock)%>






